{% extends 'shared/layout.html' %}

{% block maincontent %}
      <br>
			<h1 id="bigtitle">Home</h1>

			<div class="main-grid">
				<div class="main-box1">
					<img class="box1-image" src="/../static/main/images/portfolio-picture2.jpeg" alt="Portfolio Picture">
				</div>
				<div class="main-box2">
					<p id="big-just-text">Yousif Murrani</p>
					<p id="just-text">  is a student at Michigan State University. 
						He is 21 years old.
						He is working towards completing a Bachelor's Degree in Computer Science and is currently in his Senior Year. 
						His favorite coding language is C++. 
						His favorite classes so far are CSE 335 (Object-Oriented Programming) and CSE 476 (Mobile Application Development), though CSE 477 is quickly becoming a favorite too! 
						Some of his hobbies are designing and building apps, playing football, listening to music, play video games, working on his Arduino kit and working out. 
						<br>
						So far, he is extremely enjoying designing and building Homework 1. 
						He has never built a website before, so this is extremely fun!
						He also loves learning new coding languages and is very excited to try working on the backend of Website Development.
					</p>
				</div>
			</div>
			
			<hr id="linebreaker">
			<br>
			<br>

      <p id="text">Fun Fact: <b>{{fun_fact}}</b> </p>
      <br>
      <br>

{% endblock %}


