{% extends 'shared/layout.html' %}

{% block maincontent %}
      <br>
			<h1 id="bigtitle">Piano</h1>
			<br>
			<p id="text-i">Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you.</p>
			<hr id="linebreaker">

			<!-- Piano grid of the piano page -->
			<div class="piano-back">
				<div class="piano-title">The Great Old One</div>

				<!-- White Piano Keys Grid Divs -->
				<div id="piano-white1" class="pianoKey">
					<p class="piano-text-black">A</p>
				</div>
				<div id="piano-white2" class="pianoKey">
					<p class="piano-text-black">S</p>
				</div>
				<div id="piano-white3" class="pianoKey">
					<p class="piano-text-black">D</p>
				</div>
				<div id="piano-white4" class="pianoKey">
					<p class="piano-text-black">F</p>
				</div>
				<div id="piano-white5" class="pianoKey">
					<p class="piano-text-black">G</p>
				</div>
				<div id="piano-white6" class="pianoKey">
					<p class="piano-text-black">H</p>
				</div>
				<div id="piano-white7" class="pianoKey">
					<p class="piano-text-black">J</p>
				</div>
				<div id="piano-white8" class="pianoKey">
					<p class="piano-text-black">K</p>
				</div>
				<div id="piano-white9" class="pianoKey">
					<p class="piano-text-black">L</p>
				</div>
				<div id="piano-white10" class="pianoKey">
					<p class="piano-text-black">;</p>
				</div>
				
				<!-- Black Piano Keys Grid Divs -->
				<div id="piano-black1" class="pianoKey">
					<p class="piano-text-white">W</p>
				</div>
				<div id="piano-black2" class="pianoKey">
					<p class="piano-text-white">E</p>
				</div>
				<div id="piano-black3" class="pianoKey">
					<p class="piano-text-white">T</p>
				</div>
				<div id="piano-black4" class="pianoKey">
					<p class="piano-text-white">Y</p>
				</div>
				<div id="piano-black5" class="pianoKey">
					<p class="piano-text-white">U</p>
				</div>
				<div id="piano-black6" class="pianoKey">
					<p class="piano-text-white">O</p>
				</div>
				<div id="piano-black7" class="pianoKey">
					<p class="piano-text-white">P</p>
				</div>
			</div>

			<!-- Great Old One grid of the piano page -->
			<div class="great-old-one">
				<div class="monster-box">
					<p class="monster-title">I have awoken.</p>
					<img class="monster-image" src="/../static/piano/images/texture.jpeg" alt="Monster Image">
				</div>
			</div>
{% endblock %}


