{% extends 'shared/layout.html' %}

{% block maincontent %}
      <br>
			<h1 id="bigtitle">Projects<p>
			<h2 id="text">This is the projects page. Click on any of the images or hyperlinks in the descriptions to learn more about the project.</h2>
			<br>
			<hr id="linebreaker">
			
			<div class="main-grid">
				<div class="main-box1">
					<a class="main-link" href="https://homework-k2mnsdlocq-uc.a.run.app/piano" title="Piano Page">
						<img class="box1-image" src="/../static/main/images/piano.jpeg" alt="Piano Picture">
					</a>
				</div>
				<div class="main-box2">
					<p id="big-just-text">Javascript Piano Project</p>
					<br>
					<p id="just-text">For Homework 1 of CSE 477, I had to develop an interactive piano 
						using Javascript, HTML and CSS. 
						I also had to develop a website to present the piano project, 
						including a home page, a projects page, a resume page and a link to my LinkedIn!</p>
					<br>
					<p id="just-text">
					<a class="main-link" href="https://homework-k2mnsdlocq-uc.a.run.app/piano" title="Piano Page">
						Click here or the image to try out the piano!
					</a></p>
				</div>
			</div>
			
			<hr id="linebreaker">
			<br>
			<p id="bigtext">More coming soon!</p>
			<br>
{% endblock %}


